@charset "UTF-8";

body{
    background-color: rgb(175, 45, 45);
}
main{
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
h1{
    text-align: center;
    color: rgb(117, 30, 30);
}
a{
    display: block;
    color: brown;
    text-decoration: none;
}
a:visited{
    color: #680e0e;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: black;
}
.especial{
    background-color: #E81E1E;
    color: white;
}
.especial::after{
    content: " <=";
}
.especial::before{
    content: "=> ";
}
div{
    height: 110px;
    width: 110px;
    margin: auto;
}
#links{
    height: 150px;
    width: 150px;
}
.lista{
    padding-top: 5px;
    padding-bottom: 5px;
    
}
p{
    width: 174px;
    margin-top: 1px;
}

